.container {
  background: rgb(255, 255, 255);
  box-shadow: rgb(26 33 69 / 10%) 0 0.25rem 0.25rem 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0.5rem;
}

.content {
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 700;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 3rem;
  margin: 0 auto;
  max-width: 56.25rem;
  padding: 0 0.75rem;
  position: relative;
}
