.container {
  background: var(--color-header-background);
  /* box-shadow: var(--box-shadow-header); */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0.5rem;
  height: 4rem;
}

.content {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  -webkit-box-pack: justify;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  max-width: 56.25rem;
  padding: 0 0.75rem;
  position: relative;
}

.optionColor {
  color: var(--color-primary);
}

@media only screen and (max-width: 400px) {
  .content {
    font-size: 1rem;
  }

  .container {
    height: 3rem;
  }
}
