.container {
  height: 5rem;
  bottom: 0;
  box-shadow: var(--box-shadow-navigation);
  position: fixed;
  width: 100%;
  z-index: 2;
  background: var(--color-header-background);
}

.container .links {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 auto;
  max-width: 50rem;
  padding: 0;
}

.container .links .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 1.25rem;
  color: var(--color-primary);
  margin: 1.25rem;
  padding: 0.625rem;
  min-width: 5rem;
}

.navigationIcon {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0 0.313rem 0;
  cursor: pointer;
}

.navigationIconMiddle {
  display: flex;
  flex-direction: column;
  padding: 0.15rem 0 0.313rem 0;
  cursor: pointer;
}

.navigationIconMiddle .navigationIconStyle {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigationIcon .navigationIconStyle {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linkText {
  font-family: 'Gen Jyuu Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.938rem;
  text-align: center;
}
